body {
    align-items: center;
}

.profil {
    text-align: center;
}

.profil img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300;
    height: 300px;
}

.description {
    text-align: center;
}